// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.imagen-producto {
    display: block;
    width: 100px;
    margin: 0px auto;
}